{% extends 'home.html' %}

{% block content %}
    <!--Recent Articles-->
        <h3 class='text-uppercase text-warning' style='letter-spacing: 2px;'>Categoy {{ category }}</h3>
        <main role="main" class="container p-0">
            <div class="row">
                <div class="col-md-8 blog-main">
                    {% if posts %}
                    {% for post in posts %}
                    <div class="card border-0" >
                        <div class="card-body">
                            <a href="{% url "blog" post.slug %}"><h3 class='text-dark'>{{ post.title }}</h3></a>
                            <small class="mb-1 text-muted">{{ post.created_at | timesince }} ago | {{ post.author }}</small>
                            <p class="card-text">{{ post.short_description | truncatewords:20 }}</p>
                        </div>
                    </div>
                    {% endfor %}
                    {% else %}
                    <h3>No posts found!</h3>
                    {% endif %}
                </div>
                <!-- /.blog-main -->


            </div><!-- /.row -->
        </main><!-- /.container -->
{% endblock content %}