{% extends 'home.html' %}

{% block content %}
    <!-- Page content-->
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8">
            <!-- Post content-->
            <article>
                <!-- Post header-->
                <header class="mb-4">
                    <!-- Post title-->
                    <h1 class="fw-bolder mb-1">{{ blog_post.title }}</h1>
                    <!-- Post meta content-->
                    <div class="text-muted fst-italic mb-2">Posted on {{ blog_post.created_at }} by {{ blog_post.author }}</div>
                    <!-- Post category-->
                    <a class="badge bg-primary text-decoration-none text-light" href="#!">{{ blog_post.category }}</a>
                </header>
                <!-- Preview image figure-->
                <figure class="mb-4"><img class="img-fluid rounded" src="{{ blog_post.featured_image.url }}" alt="..." /></figure>
                <!-- Post content-->
                <section class="mb-5">
                    <p class="fs-5 mb-4">{{ blog_post.short_description }}</p>
                    <p class="fs-5 mb-4">{{ blog_post.blog_body }}</p>
                    </section>
            </article>
        </div>
        <!-- Side widgets-->
        <div class="col-lg-4">
            
            <!-- Categories widget-->
            <div class="card mb-4 p-3">
                <h4 class="font-italic">Categories</h4>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <ul class="list-unstyled mb-0">
                                {% for category in categories %}
                                <li><a href="{% url "posts_by_category" category.id %}">{{ category.category_name }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Side widget-->
             {% if links %}
            <div class="card mb-4 p-3">
                <h4 class="font-italic">Follow Us</h4>
                <ol class="list-unstyled">
                    {% for link in links %}
                    <li><a href="{{ link.link_url }}" target='blank'>{{ link.link_name }}</a></li>
                    {% endfor %}
                </ol>
            </div>
            {% endif %}
        </div>
    </div>
    <h2>{{ total_comments }} Comments</h2>
    {% if comments %}
    <div class="container border mb-5">
        {% for comment in comments %}
        <p><b><u>{{ comment.user }}</u></b>: {{ comment }} - <small>{{ comment.created_at | timesince }} ago</small></p>
        {% endfor %}
    </div>
    {% else %}
    <p>No comments yet!</p>
    {% endif %}
    <br>
    {% if user.is_authenticated %}
    <div class="form-group">
        <form action="" method="post">
            {% csrf_token %}
            <div class="form-group">
                <textarea name="comment" class="form-control" placeholder='Write your comment here..'></textarea>
                <button type="submit" class='btn btn-primary mt-2 '>Submit</button>
            </div>
        </form>
    </div>
    {% else %}
    <h4><a href="{% url "login" %}">Login</a> to comment.</h4>
    {% endif %}
</div>
{% endblock content %}